<div id="about" class="view-container semi-transparent">
	<div class="page-header">
		<h1>Food</h1>
	</div>
	<p>Food is a powerful force. Communities are formed and shaped by sharing meals together. 
	Food opens us to new cultures.  Food shapes our health and affects our minds.  We all have
	strong memories of shared meals with family, or friends or even strangers.</p>
	
	<div class="page-header">
		<h1>Topchef</h1>
	</div>
	
	<p>From formal sit-downs to fast-food dining to the everyday sandwich, a well-prepared
	meal with friends has the power to affect our lives in positive ways.  At Topchef, we are
	believe in the power of food and the profound impact of breaking bread together.  Our mission
	is to provide you with all of the tools you need to create life-changing events centered
	around your table.</p>

</div>