<div id="about" class="view-container semi-transparent">
	<div class="page-header">
		<h1>Contact</h1>
	</div>

	<div class="row">
		<div class="col-sm-4 col-lg-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Our office</h4>
				</div>
				<div class="panel-body">
					<address>
						<strong>Topchef, Inc.</strong><br> 
						100 Main Street<br> 
						La Crosse, WI 54601<br> 
						<span class="glyphicon glyphicon-phone"></span> + 1	(123) 456-7890<br>
						<span class="glyphicon glyphicon-envelope"></span> top.chef@gmail.org<br>						
											
					</address>
				</div>
			</div>
		</div>
	</div>
</div>